img {
    background-image: url(https://st.depositphotos.com/1760261/1347/i/450/depositphotos_13471797-stock-photo-vintage-safes.jpg);
height: 100%;
width: 100%;
}
body {
    background-color: black;
}